[submodule "OHDock/vue-dock"]
	path = OHDock/vue-dock
	url = https://github.com/organswithoutbodies/ohdock
[submodule "OHSigns"]
	path = OHSigns
	url = http://github.com/OrgansWithoutBodies/OHSigns
[submodule "OHSite"]
	path = OHSite
	url = http://github.com/organswithoutbodies/OHSite
[submodule "OHTruck/vue-truck"]
	path = OHTruck/vue-truck
	url = http://github.com/organswithoutbodies/OHPickupAdmin
