<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Welcome to V's WebApps for Opportunity House! Make yourself at home :^)<br>
Mind the dust, we're under construction<br>
If you run into a problem, for the moment just lemme know in person or call me @ 707-999-0997. I'll get a more robust bug tracker/wiki implemented in just a jiffy!
<p/>
Currently Available:<br>
<ul>
	<li>
		<a href="{% url 'SIGNS:WEB:/' %}">Signs</a>
	</li>

	<li>
		<a href="{% url 'TRUCK:/' %}">Truck</a>
	</li>
<!--
	<li>
		<a href="{% url 'DOCK:/' %}">Dock</a>
	</li>
-->
</ul>
</body>
</html>